<header>
    <section class="networks">
        <a href="https://github.com/MaximilianoAlonso">    <i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/devjs-maxi-alonso/"><i class="fa-brands fa-linkedin"></i></a>

    <a href="https://wa.me/541159143248?"><i class="fa-brands fa-whatsapp"></i></a>
    <a class="cv" href="/files/cv.pdf">CV</a>
    <i class="fa-solid fa-bars menuBars" id="menuBars"></i>
</section>

<nav class="menu">
    <ul>
        <i class="fa-regular fa-circle-xmark closeIcon"></i>
        <li><a  class="one" href="#about">Tecnologías</a></li>
        <li><a class="two" href="#skills">Habilidades</a></li>
        <li><a class="three" href="#projects">Proyectos</a></li>
       
        <li><a class="four" href="#contact">Contacto</a></li>
    </ul>
    
</nav>

</header>