<main>
  <section class="presentation">
    <h1 class="iam">Maximiliano Alonso</h1>
  <h2>FullStack Develop</h2>
    <img src="/images/foto.png" alt="" />
  </section>
 <section class="icons">
  <h2 class="tecnologias aboutTitle">Tecnologías</h2>
      <img src="/images/icons/node.png" alt="">
  <img src="/images/icons/js.png" alt="">
     
     <img src="/images/icons/nestjs.png" alt="">
     <img src="/images/icons/react.png" alt="">
      <img src="/images/icons/Sequelize.png" alt="">
      <img src="/images/icons/git.png" alt="">

      <img src="/images/icons/sql.png" alt="">

       <img src="/images/icons/css.png" alt="">

      <img src="/images/icons/html.png" alt="">

 

      <img src="/images/icons/bootstrap.png" alt="">


 </section>

  <section id="skills">
    <h3 class="skillsTitle">Habilidades</h3>
   
    <p><i class="fa-solid fa-circle"></i>
      Tengo un sólido conocimiento en el mundo del desarrollo web y las
      tecnologías relacionadas. Mi experiencia abarca desde la creación de
      aplicaciones web hasta la gestión de bases de datos. En el lado del
      front-end, estoy familiarizado con JavaScript, HTML5 y CSS3, y tengo
      experiencia en el uso de Bootstrap para crear interfaces atractivas y
      responsivas.
    </p>
    <p><i class="fa-solid fa-circle"></i>
      En el back-end, he trabajado con Node.js, NestJs y he construido aplicaciones web
      dinámicas utilizando React.js. También estoy cómodo con la gestión de
      bases de datos, ya que he utilizado tanto MySQL como MongoDB, y tengo
      experiencia en el uso de Sequelize para interactuar con bases de datos
      relacionales.
    </p>
  </section>
  <section id="projects">
    <h3 class="projectsTitle">Proyectos</h3>
    <h5>En construcción!</h5>
    <a href="https://lacampanaonline.onrender.com">Compra y venta</a> <br>
    <a href="https://notepad-1pwu.onrender.com">NotePad</a>
  </section>
  <section id="contact">
    <h3 class="contactTitle">Contactos</h3>
    <h4>Puedes dejarme comentarios o sugerencias</h4>
    <form action="" method="post">
      <input type="text" name="name" placeholder="Nombre"/>
      <input type="number" name="phone" placeholder="Teléfono"/>
      <input type="email" name="email" placeholder="Email"/>
      <textarea
        name="comment"
        id="contactForm"
        cols="30"
        rows="10"
        placeholder="Comentarios o Sugerencias"
      ></textarea>
      <button id="buttonForm" type="submit">Enviar!</button>
    </form>
  </section>
</main>
