<main>
  <section class="presentation">
    <h1 class="welcome">Bienvenid@</h1>
    <h1 class="iam">Soy Maximiliano Alonso</h1>

    <img src="/images/foto.png" alt="" />
    <h1>Programador FullStack</h1>
  </section>

  </section>
  <section id="skills">
    <h3 class="skillsTitle">Habilidades</h3>
    <p><i class="fa-solid fa-circle"></i>
      Tengo un sólido conocimiento en el mundo del desarrollo web y las
      tecnologías relacionadas. Mi experiencia abarca desde la creación de
      aplicaciones web hasta la gestión de bases de datos. En el lado del
      front-end, estoy familiarizado con JavaScript, HTML5 y CSS3, y tengo
      experiencia en el uso de Bootstrap para crear interfaces atractivas y
      responsivas.
    </p>
    <p><i class="fa-solid fa-circle"></i>
      En el back-end, he trabajado con Node.js y he construido aplicaciones web
      dinámicas utilizando React.js. También estoy cómodo con la gestión de
      bases de datos, ya que he utilizado tanto MySQL como MongoDB, y tengo
      experiencia en el uso de Sequelize para interactuar con bases de datos
      relacionales.
    </p>
    <p><i class="fa-solid fa-circle"></i>
      En cuanto a la colaboración y el control de versiones, utilizo Git y
      GitHub para mantener un flujo de trabajo eficiente. Además, he trabajado
      con herramientas de diseño como Figma y he participado en equipos que
      aplican metodologías ágiles, incluyendo Kanban y Scrum, para garantizar la
      entrega oportuna de proyectos de alta calidad.
    </p>
    <p><i class="fa-solid fa-circle"></i>
      También he utilizado Workbench para administrar bases de datos de manera
      eficiente. En resumen, mi amplia gama de habilidades y experiencia me
      permite abordar proyectos web de manera integral y eficaz.
    </p>
  </section>
  <section id="projects">
    <h3 class="projectsTitle">Proyectos</h3>
    <h5>En construcción!</h5>
    <a href="https://lacampanaonline.onrender.com">Compra y venta</a> <br>
    <a href="https://notepad-1pwu.onrender.com">NotePad</a>
  </section>
  <section id="contact">
    <h3 class="contactTitle">Contactos</h3>
    <h4>Puedes dejarme comentarios o sugerencias</h4>
    <form action="" method="post">
      <input type="text" name="name" placeholder="Nombre"/>
      <input type="number" name="phone" placeholder="Numero de Contacto"/>
      <input type="email" name="email" placeholder="Email"/>
      <textarea
        name="comment"
        id="contactForm"
        cols="30"
        rows="10"
        placeholder="Comentarios o Sugerencias"
      ></textarea>
      <button id="buttonForm" type="submit">Enviar!</button>
    </form>
  </section>
</main>
