<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { title: "Desarrollador FullStack"}) %>
<body>
  
  <%- include("partials/header") %>

 <main>

    <h1>Comentarios</h1>


        




 </main>

  <%- include("partials/footer") %>
</body>

<%- include("partials/scripts") %>

</html>
